<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashMail - Cargar Correos Comprometidos</title>
</head>
<body>
    <h1>Agregar Correos Electrónicos Comprometidos</h1>
    <form action="/add_emails" method="POST">
        <label for="emails">Ingrese los correos comprometidos (uno por línea):</label><br><br>
        <textarea id="emails" name="emails" rows="10" cols="30" placeholder="user1@example.com&#10;user2@example.com"></textarea><br><br>
        <button type="submit">Agregar Correos</button>
    </form>
    <hr>

    <h2>Verificar Correo Electrónico</h2>
    <form action="/check" method="GET">
        <label for="email_check">Ingrese el correo para verificar:</label><br><br>
        <input type="email" id="email_check" name="email" required><br><br>
        <button type="submit">Verificar Correo</button>
    </form>
    <hr>
    <p><a href="{{ url_for('list_compromised') }}">Ver correos comprometidos</a></p>
    
    <p><a href="/">Volver al inicio</a></p>

    <form action="{{ url_for('delete_database') }}" method="post">
        <button type="submit" onclick="return confirm('¿Estás seguro de eliminar la base de datos?')">Eliminar Base de Datos</button>
    </form>
    
</body>
</html>
